.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-direction: linear;
  animation-iteration-count: infinite;
}
@keyframes blink {
  10%,
  100% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
}
.google {
  animation-name: dart;
  animation-duration: 0.8s;
  animation-direction: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes dart {
  10% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.google-deley-1 {
  animation-delay: 0ms;
}
.google-deley-2 {
  animation-delay: 100ms;
}
.google-deley-3 {
  animation-delay: 200ms;
}
.google-deley-4 {
  animation-delay: 300ms;
}


